<% if data[:type] == "no_supplementary" %>
  Не смог сделать вспомогательный вопрос <!-- TODO для отладки -->
<% else %>
  <!-- Анкета для студента -->
  <div class="ui segment hidden"
       id="learn_more_question"
       style="display: none;"
  >
    <!-- Вопрос с вариантами ответа -->
    <div class="ui form">
      <p><%= data[:text] %></p>

      <% if data[:answers].present? %>
        <!-- TODO удалить
        <div class="ui negative message hidden"
             id="learn_more_error_message"
        >
          <p><%= t('choose_another_answer') %></p>
        </div>
        -->

        <div class="grouped fields">
          <% data[:answers].each do |answer| %>
            <div class="field">
              <div class="ui radio checkbox answer"
                   data-additional-info="<%= answer[:additional_info] %>"
                   data-status="<%= answer[:status] %>"
              >
                <input type="radio" name="radio" <%= 'disabled' unless answer[:enabled] %>>
                <label style="display: inline-block;">
                  <%= answer[:text] %>
                </label>
              </div>
            </div>
          <% end %>
        </div>

        <div>
          <button class="ui green disabled button"
                  id="learn_more_submit_btn">
            <%= t('next') %>
          </button>
        </div>
      <% end %>
    </div>
  </div>

  <!-- TODO вариант 2 в виде чата -->
  <!-- https://semantic-ui.com/views/card.html -->

  <!--
  <div class="ui segment"
       id="learn_more_loading"
       style="display: none;"
  >
    <div class="ui active loader"></div>
    <div class="ui placeholder">
      <div class="header">
        <div class="line"></div>
      </div>
      <div class="paragraph">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
  </div>
  -->
<% end %>
