<!-- Выражение -->
<div class="row">
  <div class="ui buttons large">
    <% data[:expression].each_with_index do |elem, index| %>
      <%
        order = elem[:check_order] if elem[:check_order].present? && elem[:check_order] < 1000
        elem[:text] = '&minus;'.html_safe if elem[:text] == '-' # Замена дефис на минус
      %>
      <button class="operator ui button compact <%= 'disabled' unless elem[:enabled] %>
                                       <%= 'basic' if elem[:status] == 'suggested' %>
                                       <%= 'green' if elem[:status] == 'correct' || (order && elem[:status] != 'wrong') %>
                                       <%= 'red' if elem[:status] == 'wrong' %>"
              data-index="<%= index %>"
              <%= "data-order=#{order}" if order  %>
      >
        <%= elem[:text] %>
        <% if order %>
          <span>/<%= order %></span>
        <% end %>
        <br><small><%= index + 1 %></small>
      </button>
    <% end %>
  </div>
</div>

<% if data[:errors].present? %>
  <br>
  <!-- Ошибки -->
  <div class="row" id="error_messages">
    <% data[:errors].each do |error| %>
      <% error_text = error[:parts].map { |el| el[:text] }.join(' ').gsub(/\n/, '<br>') %>
      <div class="ui message">
        <p><%= error_text.html_safe %></p>
      </div>
    <% end %>

    <!-- Кнопки "разобраться подробнее" -->
    <% if true # TODO учесть что не всегда есть готовый опросник для студента %>
      <div id="error_buttons">
        <button class="ui primary button"
                id="error_learn_more_btn"
        >
          <%= t('learn_more') %>
        </button>
        <button class="ui button"
                id="error_understand_btn"
        >
          <%= t('understand') %>
        </button>
      </div>

      <div id="learn_more_quiz"></div>
    <% end %>
  </div>
<% end %>
