<% if data[:type] == "no_supplementary" %>
  Не смог сделать вспомогательный вопрос <!-- TODO для отладки -->
<% else %>
  <!-- Анкета для студента -->
  <div class="ui segment hidden"
       id="learn_more_question"
       style="display: none;"
  >
    <!-- Вопрос с вариантами ответа -->
    <div class="ui form">
      <p><%= data[:text] %></p>

      <% if data[:answers].present? %>
        <div class="grouped fields">
          <% data[:answers].each do |answer| %>
            <div class="field">
              <div class="ui radio checkbox answer"
                   data-additional-info="<%= answer[:additional_info] %>"
                   data-status="<%= answer[:status] %>"
              >
                <% if answer[:status] == 'correct' %>
                  <i class="check green icon" style="display: none;"></i>
                <% else %>
                  <i class="x red icon" style="display: none;"></i>
                <% end %>
                <input type="radio" name="radio" <%= 'disabled' unless answer[:enabled] %>>
                <label style="display: inline-block;">
                  <%= answer[:text] %>
                </label>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- TODO вариант 2 в виде чата -->
  <!-- https://semantic-ui.com/views/card.html -->

  <!--
  <div class="ui segment"
       id="learn_more_loading"
       style="display: none;"
  >
    <div class="ui active loader"></div>
    <div class="ui placeholder">
      <div class="header">
        <div class="line"></div>
      </div>
      <div class="paragraph">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
  </div>
  -->
<% end %>
