<%= render partial: 'common/devise/style' %>
<%= render partial: 'common/devise/script' %>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <!--      <img src="assets/images/logo.png" class="image">-->
      <div class="content">
        Sign up
      </div>
    </h2>
    <%= form_for resource, as: resource_name,
                 url: registration_path(resource_name),
                 html: {
                   class: 'ui large form'
                 } do |f| %>
      <div class="ui stacked segment">
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail address" %>
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation" %>
          </div>
        </div>

        <div class="ui fluid large teal submit button">Sign up</div>
      </div>

<!--      <div class="ui error message">-->
        <%#= render "devise/shared/error_messages", resource: resource %>
<!--      </div>-->
    <% end %>

    <%= render "devise/shared/links" %>

    <!--    <div class="ui message">-->
    <!--      New to us? <a href="#">Sign Up</a>-->
    <!--    </div>-->
  </div>
</div>
