<!-- TODO -->
<% trace_json = (data[:full_trace_json] || data[:trace_json]) %>
<% if trace_json.present? %>
  <div class="field">
    <label><%= t('algorithms.index.trace') %></label>

    <!--
    <div class="ui error mini message">
      <i class="close icon"></i>
      <div class="header">
        During execution of loop 'waiting', a new iteration must not start because condition 'not_green' is false.
      </div>
    </div>
    -->

    <table class="ui very compact small selectable celled definition table">
      <tbody>
      <% trace_json.each do |elem| %>
        <tr>
          <!--
          <td class="collapsing">
            <div class="ui checkbox">
              <input type="checkbox"> <label></label>
            </div>
          </td>
          -->

          <td>
            <% if elem[:is_valid] == false %>
              <div class="ui red horizontal label">
                <i class="exclamation triangle icon"
                   style="margin: 0;"></i>
              </div>
            <% end %>

            <%= elem[:as_html].html_safe %>

            <% if elem[:is_valid] == false %>
              <div class="ui mini negative message">
                <div class="header">
                  <%= t('algorithms.index.act_has_mistakes') %>
                </div>
                <ul class="list">
                  <% elem[:explanations].each do |message| %>
                    <li><%= message.html_safe %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <% if elem[:is_final] %>
              <input type="hidden" id="is_final">
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
      <!-- Вспомогательные элементы управления
      <tfoot class="full-width">
      <tr>
        <th colspan="2">
          <button class="ui green mini button share">
            <i class="save icon"></i> <%= t('share') %>
          </button>
          <div class="ui popup top left transition hidden">
            <div class="ui action input">
              <input type="text" value="http://ww.short.url/c0opq">
              <button class="ui teal right labeled icon toggle button">
                <i class="copy icon"></i>
                <%= t('copy') %>
              </button>
            </div>
          </div>
        </th>
      </tr>
      </tfoot>
      -->
    </table>
  </div>
<% end %>
