<% title t('algorithms.index.title') %>

<%= render partial: 'algorithms/index/header' %>

<script src="https://unpkg.com/blockly/blockly.min.js"></script>
<%= stylesheet_pack_tag 'algorithms' %>

<input type="hidden" id="lang" value="<%= I18n.locale %>">

<div class="ui aligned basic segment">
  <div class="ui form" id="algorithm_form">
    <%= render partial: 'algorithms/index/algorithm_field' %>
    <div id="trace"></div>
  </div>
</div>

<%#= render partial: 'common/footer' %>

<%= render partial: 'algorithms/index/teacher_modal' %>
