<% title t('algorithms.index.title') %>

<%= render partial: 'algorithms/show_task/header' %>

<!-- <script src="https://unpkg.com/blockly/blockly.min.js"></script> -->
<%= stylesheet_pack_tag 'algorithms' %>

<input type="hidden" id="lang" value="<%= I18n.locale %>">
<input type="hidden" id="task_lang" value="<%= @task_lang %>">

<div class="ui aligned basic segment">
  <div class="ui form" id="algorithm_trainer">
    <%= render partial: 'algorithms/common/algorithm_text_field',
               locals: {
                 data: @result,
                 task_lang: @task_lang
               }
    %>
    <%#= render partial: 'algorithms/common/trace_field', locals: { data: @result } %>
  </div>
</div>

<%#= render partial: 'common/footer' %>

<%= render partial: 'algorithms/common/success_modal' %>

<%= render partial: 'algorithms/show_task/student_first_modal' %>
<%= render partial: 'algorithms/show_task/student_second_modal' %>


<%= javascript_pack_tag 'algorithms' %>

<script>
    function on_solve_step(is_final) {
    	// do something, ex. update diagram
    	// do nothing here
    }
</script>
