<% title t('algorithms.index.title') %>

<%= render partial: 'algorithms/common/header' %>

<!-- <script src="https://unpkg.com/blockly/blockly.min.js"></script> -->
<%= render partial: 'algorithms/common/algorithm_style' %>

<input type="hidden" id="task_lang" value="<%= @task_lang %>">
<input type="hidden" id="task_token" value="<%= @preview_mode? 'null' : @task.token %>">
<input type="hidden" id="task_type" value="<%= @preview_mode? 'null' : @task.class.name %>">
<input type="hidden" id="preview_mode" value="<%= @preview_mode %>">

<div class="ui aligned basic segment">

  <div class="ui mini blue button <%= if @preview_mode then '' else 'hidden' end %>" id="back_to_editor"><i class="edit icon"></i> <%= t('algorithms.back_to_editor') %></div>

  <div class="ui form" id="algorithm_trainer">
    <!--  'algorithms/common/algorithm_text_field' -->
    <%= render partial: 'algorithms/show_task/algorithm_trainer_beta',
               locals: {
                 data: @result,
                 task_lang: @task_lang,
                 hide_trace: @hide_trace
               }
    %>
    <%#= render partial: 'algorithms/common/trace_field', locals: { data: @result } %>
  </div>
</div>

<%#= render partial: 'common/footer' %>

<%= render partial: 'common/success_modal' %>

<%= render partial: 'common/student_modal' %>

<%= render partial: 'algorithms/show_task/student_first_modal' %>
<%= render partial: 'algorithms/show_task/student_second_modal' %>
<%= render partial: 'algorithms/show_task/show_task_script' %>


<%= render partial: 'algorithms/show_task/show_task_diagram_script' %>
