<% title t('algorithms.index.title') %>

<%= render partial: 'algorithms/common/header' %>

<!-- <script src="https://unpkg.com/blockly/blockly.min.js"></script> -->
<%= render partial: 'algorithms/common/algorithm_style' %>

<input type="hidden" id="task_lang" value="<%= @task_lang %>">
<input type="hidden" id="task_token" value="<%= @task_token %>">
<input type="hidden" id="task_type" value="<%= @task_type %>">
<input type="hidden" id="preview_mode" value="<%= @preview_mode %>">

<input type="hidden" id="default_syntax" value="<%= t('algorithms.default_syntax') %>">
<input type="hidden" id="empty_algorithm" value="<%= t('algorithms.empty_algorithm') %>">

<div class="ui aligned basic segment">

  <div class="ui mini blue button" <%= 'style="display: none;"'.html_safe unless @preview_mode %> id="back_to_editor"><i class="edit icon"></i> <%= t('algorithms.back_to_editor') %></div>

  <div class="ui form" id="algorithm_trainer">
    <%= render partial: 'algorithms/common/algorithm_text_field',
               locals: {
                 data: @result,
                 task_lang: @task_lang
               }
    %>
    <%#= render partial: 'algorithms/common/trace_field', locals: { data: @result } %>
  </div>
</div>

<%#= render partial: 'common/footer' %>

<%= render partial: 'common/success_modal' %>

<% if @task.introduce_yourself? %>
  <%= render partial: 'common/student_modal' %>
<% end %>
<%= render partial: 'algorithms/show_task/show_task_script' %>

<%= render partial: 'algorithms/show_task/student_first_modal' %>
<%= render partial: 'algorithms/show_task/student_second_modal' %>


