<div class="ui stackable menu">
  <div class="header item">
    <%= link_to 'How It Works', root_path %>
  </div>

  <%= save_button %>

  <!--
  <div class="item">
    <button class="ui basic button"><i class="question circle icon"></i> <%= t('help') %></button>
  </div>
  -->

  <!--
  <div class="ui dropdown item">
    <%= t('examples') %>
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item"><%= t('example1') %></a>
      <a class="item"><%= t('example2') %></a>
      <a class="item"><%= t('example3') %></a>
    </div>
  </div>
  -->

  <div class="right menu">
    <div class="item">
      <%= feedback_button %>
      <%= language_switcher %>
    </div>
<!--    <a class="item"><%#= t('sign_in') %></a>-->
  </div>
</div>
