<!-- teacher modal -->
<div class="ui teacher tiny modal">
  <i class="close icon"></i>
  <div class="header">
    <%= t('teacher_modal.header') %>
  </div>
  <div class="scrolling content">
    <form class="ui form">
      <div class="description">
        <p><%= t('expressions.teacher_modal.description') %></p>

        <div class="field">
          <label><%= t('expressions.teacher_modal.institution') %>*</label>
          <div class="ui left action input">
            <div class="ui basic floating dropdown button">
              <div class="text"><%= t('expressions.teacher_modal.type') %></div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item">университет</div>
                <div class="item">академия</div>
                <div class="item">институт</div>
              </div>
            </div>
            <input type="text" name="first-name" placeholder="<%= t('teacher_modal.institution_placeholder') %>">
          </div>
        </div>
        <div class="field">
          <label><%= t('expressions.teacher_modal.position') %>*</label>
          <input type="text" name="last-name" placeholder="<%= t('expressions.teacher_modal.position_placeholder') %>">
        </div>
        <div class="field">
          <label><%= t('expressions.teacher_modal.feedback') %></label>
          <textarea rows="3"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="actions">
    <div class="ui positive deny button">
      <%= t('submit') %>
    </div>
    <div class="ui right button">
      <%= t('expressions.teacher_modal.cancel') %>
    </div>
  </div>
</div>
