<% title t('index.title') %>

<%= render partial: 'application/index/header' %>

<div class="ui vertical stripe segment">
  <div class="ui text container">
    <h3 class="ui header"><%= t('index.expressions_trainer') %></h3>
    <p><%= t('index.expressions_trainer_description') %></p>
    <%= link_to 'Read more',
                '/expressions',
                class: "ui large button"
    %>

    <div class="ui divider"></div>

    <h3 class="ui header"><%= t('index.algorithms_trainer') %></h3>
    <p><%= t('index.algorithms_trainer_description') %></p>
    <%= link_to 'Try it',
                '/algorithms',
                class: "ui large button"
    %>

    <div class="ui divider"></div>

    <h3 class="ui header">How It Works: English words order</h3>
    <p>How It Works: English words order is a constraint-based online tutor for developing comprehension of concepts affecting the order of words in sentence.</p>
    <%= link_to 'Learn more',
                '/words_order',
                class: "ui large button"
    %>
  </div>
</div>

<%= render partial: 'common/footer' %>
