<div class="item">
  <div class="ui basic buttons">
    <!--      <div class="ui button"><i class="file outline icon"></i> <%#= t('new') %></div>-->
    <div class="ui button share" id="save_task"><i class="save icon"></i> <%= t('share') %></div>
  </div>
</div>

<div class="ui fluid popup bottom left transition hidden share">
  <!-- Вводим инфо о задаче сюда -->
  <div id="task_info_form">
    <div class="row" style="margin-bottom: 10px;">
      <div class="ui checkbox">
        <input type="checkbox"
               id="collect_statistics"
               checked>
        <label><%= t('collect_statistics') %></label>
      </div>
    </div>

    <% if enable_hints %>
      <div class="row" style="margin-bottom: 10px;">
        <div class="ui checkbox">
          <input type="checkbox"
                 id="enable_hints"
                 checked>
          <label><%= t('enable_hints') %></label>
        </div>

        <div class="ui input" style="min-width: 190px;">
          <input id="max_hints_count"
                 type="text"
                 placeholder="<%= t('max_hints_count') %>">
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="ui action input"
           style="width: 530px;">
        <input id="task_name"
               type="text"
               placeholder="<%= t('task_name_placeholder') %>">
        <button class="ui teal button" id="create_task"><%= t('save') %></button>
      </div>
    </div>
  </div>

  <!-- Ссылка на сохраненную задачу -->
  <div id="task_url_form"
       class="ui form"
       style="width: 530px;">
    <div class="field">
      <label><%= t('task_link') %> "<span id="saved_task_name"></span>"</label>
      <div class="ui action input">
        <input type="text"
               value=""
               id="task_url"
               readonly>
        <button class="ui teal button"
                id="copy_task_url"
                data-content="<%= t('copied') %>"
        >
          <i class="copy icon"></i><%= t('copy') %>
        </button>
      </div>
    </div>
  </div>
</div>
