<!-- Кнопка следующего правильного шага -->
<div class="row">
  <button class="ui button compact" id="show_next_correct_step">
    <%= t('show_next_correct_step') %>
    <% if max_hints_count.positive? %>
      (<%= t('left') %> <span id="available_hints_count"><%= max_hints_count %></span>)
    <% end %>
  </button>
</div>

<button class="ui animated button green compact" id="complete_task" style="vertical-align: baseline;">
  <div class="visible content"><%= t('complete_task_alt') %></div>
  <div class="hidden content"><%= t('complete_task') %></div>
</button>

<input id="max_available_hints_count"
       type="hidden"
       value="<%= max_hints_count %>">
