<%
  enable_hints ||= false
%>
<div class="ui aligned basic segment">
  <div class="ui centered grid">
    <h3>
      <%= t('my_tasks') %>
      <%= link_to "<i class='plus icon'></i>#{t('new')}".html_safe,
                  new_task_path,
                  class: 'ui basic button'
      %>
    </h3>
    <div class="row">
      <table class="ui selectable striped table">
        <thead>
        <tr>
          <th>#</th>
          <th><%= t('tasks.created_at') %></th>
          <th><%= t('tasks.name') %></th>
          <th><%= t('tasks.started_attempts_count') %></th>
          <th><%= t('tasks.done_attempts_count') %></th>
          <th><%= t('collect_statistics') %></th>
          <% if enable_hints %>
            <th><%= t('enable_hints') %></th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% tasks.each_with_index do |task, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= full_date(task.created_at) %></td>
            <td>
              <%= link_to task_name(task),
                          "#{show_task_path}/#{task.token}",
                          target: '_blank'
              %>
            </td>
            <td>
              <% if task.attempts.count > 0 %>
                <%= link_to task.attempts.count,
                            "#{show_task_path}/#{task.token}/statistic",
                            target: '_blank',
                            'data-tooltip': t('tasks.show_statistic')
                %>
              <% else %>
                0
              <% end %>
            </td>
            <td><%= task.attempts.was_done.count %></td>
            <td><%= book_icon(task.introduce_yourself?) %></td>
            <% if enable_hints %>
              <td>
                <%= book_icon(task.enable_hints?) %>
                <% if task.enable_hints? %>
                  (<%= task.max_hints_count %>)
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
