<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">-->
    <!--    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">-->
    <!--    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">-->
    <!--    <link rel="manifest" href="/site.webmanifest">-->
    <%#= favicon_pack_tag 'mb-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
